{% load crispy_forms_tags %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="container">
    <!-- Image Section -->
    <div class="image-section">
        <img src="{% static 'images/Header.PNG' %}" alt="Your Image" style="max-width: 500px; border-radius: 10px; height: 600px; padding-top: 50px">
    </div>
    <form method="POST" class='babe-form'>
        {% csrf_token %}
        <div class="form-row">
            <h4>PASSENGER INFORMATION</h4>
            <hr>
            {{ form.full_name|as_crispy_field }}
            {{ form.gender|as_crispy_field }}
            {{ form.date_of_birth|as_crispy_field }}
            {{ form.nationality|as_crispy_field }}
        </div>
        <div class="form-row">
            <h4>CONTACT INFORMATION</h4>
            <hr>
            {{ form.phone_number|as_crispy_field }}
            {{ form.email_address|as_crispy_field }}
            {{ form.P_O_box_number|as_crispy_field }}
            {{ form.emergency_phone_number|as_crispy_field }}
        </div>
        <div class="form-row">
            <h4>FLIGHT INFORMATION</h4>
            <hr>
            {{ form.passport_number|as_crispy_field }}
            {{ form.visa_document|as_crispy_field }}
            {{ form.departure_city|as_crispy_field }}
            {{ form.destination_city|as_crispy_field }}
        </div>
        <button type="submit" class="btn btn-primary" style="width: 100px; align-items: center;">SUBMIT</button>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
